/*********************
 20150731 login  style
*********************/


.login_header{ background-color:#fff;  height:80px; width:100%;}
.login_header_1000{ max-width:1000px; margin:0 auto;}
.login_logo{ float:left; margin:14px 12px 0 20px;}
.Customer_name{ font-size:20px; float:left; height:32px; line-height:32px; border-left:solid 1px #e6e6e6; padding-left:12px; margin-top:24px; color:#555;}



.login_footer{ background-color:#fff; height:58px; width:100%; text-align:center; line-height:58px; color:#888; margin-top:20px;}
/*.login_main{  background-color:#3183eb; width:100%; overflow:hidden;}*/
.login_main{ background:url(../images/templateImage/logo_banner_Bg.jpg) #1a4284 no-repeat center; height:476px; width:100%; overflow:hidden;}

.login_main_title{ width:390px; margin:0 auto; padding:65px 0 40px 0;}
/*.login_mod{ background:url(../images/templateImage/login_mod_bg.png) no-repeat center; width:437px; height:460px; margin:0 auto;}*/
.login_mod{ width:1000px; margin:0 auto; padding-bottom:20px;}
.login_mod_show{background-color:#FFFFFF; width:290px; float:right; padding:20px 32px; margin:50px 0 20px 0; }
.login_mod_left{ width:550px; height:476px; float:left;}



.login_mod_show h1{ text-align:left; font-size:18px;color:#666666; height:24px; line-height:24px; margin:0 0 0 0;}

.login_mod_inp{ width:290px; height:42px; line-height:48px; border:solid 1px #CCCCCC; background-color:#FFFFFF; border-radius:3px; margin-top:20px;}
.login_mod_inp i{ font-size:20px; color:#CCCCCC; padding:0 5px 0 8px; cursor: default !important;}
.login_mod_inp input{ height:30px !important; margin:0; padding:0 ; width:210px; border:none; font-size:15px; }

.login_mod_inp02{ width:140px; height:42px; line-height:48px; border:solid 1px #CCCCCC; background-color:#FFFFFF; border-radius:3px;  margin-top:20px;}
.login_mod_inp02 i{ font-size:20px; color:#CCCCCC; padding:0 5px 0 8px; cursor: default !important;}
.login_mod_inp02 input{ height:30px !important; margin:0; padding:0 ; width:90px; border:none; font-size:15px; }

.login_controls{ width:292px; margin:0 auto;}
.login_controls label.help-inline { color:#bf0a0a;}

.borderRed{border:solid 1px #bf0a0a !important;}
.login_Verification{ position: absolute; top:0; right:0; width:145px;}

.login_but{ width:292px; margin:0 auto; padding:30px 0 0 0;}
.loginbuttom{width:292px; height:50px; line-height:50px; text-align:center; color:#FFFFFF; font-size:20px; background-color:#4390f2; display:block; border-radius:3px; }
.loginbuttom:hover{ color:#FFFFFF; background-color:#2572d4;}

.BackPassword{ width:292px; margin:0 auto; padding-top:15px; text-align:right;color: #999}
.BackPassword a{ color:#888;}
.BackPassword a:hover{ color:#f60; text-decoration:underline;}
