<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
		 version="3.0" metadata-complete="false">
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
         	classpath:conf/spring/applicationContext.xml
   		</param-value>
	</context-param>
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:conf/properties/log4j.properties</param-value>
	</context-param>
	<context-param>
		<param-name>Owasp.CsrfGuard.Config</param-name>
		<param-value>/WEB-INF/classes/conf/properties/owasp-csrfguard.properties</param-value>
	</context-param>
	<context-param>
		<param-name>Owasp.CsrfGuard.Config.Print</param-name>
		<param-value>false</param-value>
	</context-param>
	<listener>
		<listener-class>
			org.owasp.csrfguard.CsrfGuardServletContextListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>
			org.owasp.csrfguard.CsrfGuardHttpSessionListener
		</listener-class>
	</listener>

	<!--
	============================================
	= 过滤器
	==========================================-->

	<!-- 试用期限过滤器，平时关闭 -->
	<!--<filter>
		<filter-name>LicenseFilter</filter-name>
		<filter-class>LicenseFilter</filter-class>
		<async-supported>true</async-supported>
	</filter>

	<filter-mapping>
		<filter-name>LicenseFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>-->

	<!-- DruidWebStatFilter -->
	<filter>
		<filter-name>DruidWebStatFilter</filter-name>
		<filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
		<init-param>
			<param-name>exclusions</param-name>
			<param-value>/css/*,/js/*,/img/*,*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*</param-value>
		</init-param>
		<init-param>
			<param-name>sessionStatMaxCount</param-name>
			<param-value>1000</param-value>
		</init-param>
		<init-param>
			<param-name>sessionStatEnable</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>profileEnable</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>DruidWebStatFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>encoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>openSessionInViewFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate4.support.OpenSessionInViewFilter</filter-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>singleSession</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>openSessionInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- shiro 安全过滤器 -->
	 <filter>
		<filter-name>shiroFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>shiroFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>

	<!-- CSRF过滤器配置，一定要放在shiroFilter后面 -->
	<filter>
		<filter-name>CSRFGuard</filter-name>
		<filter-class>org.owasp.csrfguard.CsrfGuardFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CSRFGuard</filter-name>
		<url-pattern>/sys/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>

	<!-- CSRF过滤器配置结束 -->
	<filter>
		<filter-name>sitemeshFilter</filter-name>
		<filter-class>com.hisun.saas.sys.filter.ConfigurableSiteMeshFilter</filter-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>configFile</param-name>
			<param-value>/WEB-INF/classes/conf/sitemesh/sitemesh3.xml</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>sitemeshFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:conf/spring/spring-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
    <servlet>
        <servlet-name>DruidStatView</servlet-name>
        <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DruidStatView</servlet-name>
        <url-pattern>/admin/druid/*</url-pattern>
    </servlet-mapping>
	<welcome-file-list>
		<welcome-file>/</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>400</error-code> 
		<location>/WEB-INF/jsp/error/400.jsp</location> 
	</error-page> 
	<error-page> 
		<error-code>403</error-code> 
		<location>/WEB-INF/jsp/error/403.jsp</location> 
	</error-page> 
	<error-page> 
		<error-code>404</error-code> 
		<location>/WEB-INF/jsp/error/404.jsp</location> 
	</error-page> 
	<error-page> 
		<error-code>405</error-code> 
		<location>/WEB-INF/jsp/error/405.jsp</location> 
	</error-page> 
	<error-page> 
		<error-code>500</error-code> 
		<location>/WEB-INF/jsp/error/500.jsp</location> 
	</error-page>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
		    <!-- 配置强制开启SSL CONFIDENTIAL 不开启 NONE  -->
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
</web-app>
